<div>
	<center><img src="images/propulsionLogo.svg" alt="" class="companyLogo"></center>
  <form class="login-form">       
    <center><h3>Propulsion Grunt App</h3></center>
    <hr>
    <input type="email" class="form-control input-lg email" placeholder="Email" name="email">
    <input type="password" class="form-control input-lg password" placeholder="Password" name="password">
    <br>
    <center><a href="#grunts" class="btn btn-default btn-lg btn-block" id="logIn">Log In</a></center>
  </form>
</div>